<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'login/css/index.css' %}">
        <title>Login</title>
    </head>
    <body>
        <div class="container-fluid min-vh-100" id="wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-7 px-5 py-4 m-3"  id="content">
                    <div class="row justify-content-center">
                        <span class="col" id="header">
                            <span class="row"><h1 class="col text-center">Welcome</h1></span>
                            <span class="row"><h1 class="col text-center">Back!</h1></span>
                        </span>
                    </div>
                    <div class="row justify-content-center">
                        <span class="col text-center align-self-center" id="submission">
                            <h2>Log In</h2>
                            <p>Don't Have an Account? <a href="/">Register Here</a></p>
                            {% if messages %}
                            <ul class="messages list-group list-group-horizontal-sm">
                                {% for message in messages %}
                                    <li {% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-danger"{% endif %}>{{message}}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <form action="/login/post" method="POST">
                                {% csrf_token %}
                                <span class="form-group mx-5 row justify-content-center">
                                    <input type="text" name="email" placeholder="Email" class="form-control col-md-7">
                                </span>
                                <span class="form-group mx-5 row justify-content-center">
                                    <input type="password" name="pword" id="pword" placeholder="Password" class="form-control col-md-7">
                                </span>
                                <span class="form-group mx-5 row justify-content-center">
                                    <button type="submit" class="btn px-4"><h1>Log In</h1></button>
                                </span>
                            </form>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>